.jumbotron {
  padding-top: 6rem;
  background-color: #96c6f0;
}
#Galeri {
  background-color: #96c6f0;
}
section {
  padding-top: 5rem;
}
#Contact {
  background-color: #96c6f0;
}
.galeri-img {
  width: 100%;
}

#album .row > * {
  padding: 0;
}
